@{
    Layout = "_Layout";
}

    <h1>Checkout canceled</h1>
    <link rel="stylesheet" href="style.css">


<section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
</section>

