

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

    <h1>Thanks for your order!</h1>
    <link rel="stylesheet" href="style.css">


<section>
    <p>
        We appreciate your business! If you have any questions, please email
        <a href="bluerose.ikt201g20h.gmail.com">bluerose.ikt201g20h.gmail.com</a>.
    </p>
</section>

