@model Post

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h1>Edit</h1>

<h4>posts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Summary"></label>
                    <input asp-for="Summary" class="form-control" placeholder="ESummarye">
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content"></label>
                    <input asp-for="Content" class="form-control" placeholder="Contente">
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                
            <div class="form-group">
                <input id="Submit" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>